/* Contenedor Principal */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative; /* Necesario para posicionar el logo */
}

.body-wrapper {
    display: flex;
    flex: 1;
}

.content-area {
    flex: 1;
    padding: 2rem;
    background-color: #f8f9fa; /* Fondo grisáceo claro del contenido */
}

/* --- Sidebar --- */
.sidebar {
    width: 250px;
    background-color: #9EB23B; /* Verde principal */
    color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    top: 10px;
    border-radius: 15px;
    padding: 5px;
    margin-left: 5px;
}

.sidebar-nav {
    padding-top: 1rem;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li a {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    transition: background-color 0.2s;
}

.sidebar-nav li a svg {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.sidebar-nav li:hover {
    background-color: #7d884e;
}

.sidebar-nav li.active {
    background-color: #7d884e; /* Color activo */
    font-weight: 600;
}



/* --- Logo flotante --- */
.floating-logo {
    position: fixed; /* Fija el logo en la pantalla */
    bottom: 20px; /* Separación desde la parte inferior */
    left: 20px; /* Separación desde la parte izquierda */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.floating-logo img {
    max-width: 100px; /* Ajusta el tamaño del logo */
    height: auto;
    
    
}

/* --- Header --- */
.header {
    height: 70px;
    background-color: #9EB23B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid #dcdcdc;
}

.user-info {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
}

.user-avatar {
    font-size: 2rem;
    margin-right: 0.5rem;
    background-color: #8f9a5d;
    color: white;
    border-radius: 50%;
    padding: 4px;
}

.header-actions {
    display: flex;
    gap: 1rem;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    color: #ffffff;
}